.openModalButton {
    color: #ED2647;
    background-color: #fff;
    border: 1px solid #ED2647;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; 
  }
  
  .openModalButton:hover {
    background-color: #ED2647;
    color: white;
  }
  