.gallery {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10%;
}

.image {
    width: 50%;
}

.textBox {
    width: 50%;
    padding: 20px;
}

.title {
    margin-top: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
}

.title_main {
    text-align: center;
}


.title_span {
    width: 100%;
    margin-bottom: 1%;
}

.title_span:last-child {
    bottom: 0;
}

.p_red {
    color: #ED2647;
}

.about_me{
    font-family: 'Ubuntu', sans-serif;
}

.about_p{
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 10px;
}

.link{
    text-decoration: none;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.aboutButton{
    color: #ED2647;
    background-color: #fff;
    border: 1px solid #ED2647;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; 
    display: flex;
    gap: 5px;
}

.nextButton{
    color: #ED2647;
    background-color: #fff;
    border: 1px solid #ED2647;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px; 
    display: flex;
    gap: 5px;
}

.aboutButton:hover{
    background-color: #ED2647;
    color: white;
}

.nextButton:hover{
    background-color: #ED2647;
    color: white;
}


@media (max-width: 700px) {
    .gallery {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
    }

    .title {
        font-size: 40px;
        margin-left: 0;
    }

    .image {
        width: 100%;
    }

    .textBox{
        width: 90%;
    }
}
