.footer {
    background-color: #f1f1f1; 
    color: #333; 
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd; 
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .socialLinks {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: block;
  }
  
  .socialLinks li {
    display: inline;
    margin: 10px;
  }
  
  .socialLinks a {
    color: #333; 
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .socialLinks a:hover {
    color: #007bff; 
  }

  .linkedin{
    width: 3%;
  }

  .github{
    width: 3%;
  }
  