.timeline {
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 40px 0;
    margin-top: 30%;
    margin-bottom: 29%;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 20px;
    background: #ddd;
    z-index: 1;
    transform: translateY(-50%);
    background: #ED2647;
}

.timelineItem {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timelineItemOdd .timelineContent {
    transform: translateY(-150%);
}

.timelineItemEven .timelineContent {
    transform: translateY(150%);
}

.timelineIcon {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 20px;
}

.timelineContent {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 30%;
}

.timelineContainer {
    opacity: 0;
    transform: translateX(-100%);
    animation: slideIn 1s forwards;
    width: 100%;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1024px) {
    .timeline {
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        padding: 20px 0;
        align-items: center; 
    }

    .timeline::before {
        top: 0;
        left: 50%;
        width: 25px;
        height: 100%;
        transform: translateX(-50%);
    }

    .timelineItem {
        flex-direction: row;
        width: 90%; 
        justify-content: flex-start;
        align-items: center;
        margin-top: 10%;
        position: relative;
    }

    .timelineItemOdd .timelineContent {
        transform: translateY(0);
        order: 2;
        margin-left: 20px;
        margin-right: 60%; 
    }

    .timelineItemEven .timelineContent {
        transform: translateY(0);
        order: 1;
        margin-right: 20px; 
        margin-left: 60%;;
    }

    .timelineItem:not(:first-child) {
        margin-left: 0;
    }

    .timelineIcon {
        order: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .timelineContent {
        width: 70%;
        margin-bottom: 10px;
    }

    .timelineContainer {
        transform: translateY(-100%);
        animation: slideInY 1s forwards;
    }

    @keyframes slideInY {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
