.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;  
    margin: 10%;  
}
.text_area{
    align-content: center;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-indent: 10px;
}

.text_input{
    margin-top: 1.2rem;
    font-size: 30px;
    border: none;
    width: 80%;
    margin-left: 10%;
}

.btn{
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background: #ED2647;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    /* box-shadow: 0 4px 8px 0 #ED2647, 0 6px 20px 0 rgba(181, 141, 237, 0.9); */
    cursor: pointer;
    width: 100%;
    height: 50px;   
    font-family: 'Ubuntu', sans-serif; 
    margin-top: 5%; 
    
}

.login{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    width: 50%;
    margin-top: 1%;
    margin-left: 25%;
    margin-bottom: 20%;
    border-radius: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    font-family: 'Ubuntu', sans-serif;  
}

.label{
    padding: 10px 0px
}

.empty{
    width: 100%;
    height: 100%;
}

@media (max-width: 466px) {

.text_area{
    height: 50px
}

.btn {
    width: 100%;
    margin-left: 0 
}
    
}